{% extends "base.html" %}
{% block title %}Url Checker Details | Savage Automation Tools{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>
        <a href="#" onclick='history.back();return false;' class="btn btn-primary">&lt; Back</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>
        Installing this script is easy. Just follow the instructions below.
      </p>
      <p>
        Step 1: Log in to your MCC account and create a new script.
      </p>
    </div>
  </div>
</div>
{% endblock %}
